stuff/
node_modules/
2ºano/2ºsemestre/BD/.obsidian/app.json
2ºano/2ºsemestre/BD/.obsidian/appearance.json
2ºano/2ºsemestre/BD/.obsidian/core-plugins.json
2ºano/2ºsemestre/BD/.obsidian/workspace.json
1ºano/2ºsemestre/PP/.obsidian/appearance.json
1ºano/2ºsemestre/PP/.obsidian/core-plugins.json
1ºano/2ºsemestre/PP/.obsidian/workspace.json
1ºano/2ºsemestre/PP/.obsidian/app.json
